scikit-learn==1.1.1
optbinning==0.14.1
pandas==1.4.3
openpyxl==3.0.10
numpy==1.23.0
matplotlib==3.5.2
scikit-learn-intelex==2021.6.3
shap==0.41.0
numpyencoder==0.3.0
argparse==1.4.0
mkdocs==1.3.1
mkdocstrings==0.18.1
rich==12.5.1
black==22.6.0
flake8==5.0.2
typer==0.6.1
mlflow
tensorflow-addons
jupyter
