
# mkdocs.yml
site_name: {{cookiecutter.project_name}}
site_url: FILL OUT
repo_url: {{cookiecutter.repository_url}}
nav:
  - Home: index.md
  - workflows:
    - main: {{cookiecutter.project_name}}/main.md
  - {{cookiecutter.project_name}}:
    - plotter: {{cookiecutter.project_name}}/plotter.md
    - data: {{cookiecutter.project_name}}/data.md
    - evaluate: {{cookiecutter.project_name}}/evaluate.md
    - predict: {{cookiecutter.project_name}}/predict.md
    - train: {{cookiecutter.project_name}}/utils.md
theme: readthedocs
plugins:
  - mkdocstrings
watch:
  - .  # reload docs for any file changes
